/* Source: https://github.com/jkphl/svg-sprite */
/* MUST NOT EDIT THIS DIRECTLY */
/* EDIT TEMPLATES/SPRITE.CSS INSTEAD */

/* Loop */
{{#shapes}}
	
	/* Run Only Once */
	{{#first}}

		.icon {
			background-image: url('/assets/img/sprites/{{{sprite}}}');
		}

		.no-svg .icon {
			background-image: url('/assets/img/sprites/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
		}

	{{/first}}

	.icon--{{base}} {
		
		width: {{width.outer}}px;
		height: {{height.outer}}px;
		/*background-image: url('../../assets/img/sprite/css/{{{sprite}}}');*/
		background-position: {{position.relative.xy}};
	}
{{/shapes}}