/* Source: https://github.com/jkphl/svg-sprite */
	.icon--DGTIES_FA_HORIZONTAL_FLAT_colored_2018_01_22 {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 0 0/2000px 800px;

		/*
		width: 2000px;
		height: 800px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 0 0;*/
	}
	.icon--DGTIES_FA_ICON_7.99in_x_8.88in_colored_2018_01_22 {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 0 99.88762642027719%/575.1px 639.1px;

		/*
		width: 575.1px;
		height: 639.1px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 0 99.88762642027719%;*/
	}
	.icon--clear-view-escapes {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 30.959302325581397% 57.951277463472586%/142.4px 59.53px;

		/*
		width: 142.4px;
		height: 59.53px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 30.959302325581397% 57.951277463472586%;*/
	}
	.icon--comment {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 29.705578512396695% 62.465843023255815%/64px 64px;

		/*
		width: 64px;
		height: 64px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 29.705578512396695% 62.465843023255815%;*/
	}
	.icon--facebook {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 44.234044381105434% 57.22501591570755%/21.23px 42.01px;

		/*
		width: 21.23px;
		height: 42.01px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 44.234044381105434% 57.22501591570755%;*/
	}
	.icon--fire {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 32.87551440329218% 62.465843023255815%/56px 64px;

		/*
		width: 56px;
		height: 64px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 32.87551440329218% 62.465843023255815%;*/
	}
	.icon--globe {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 35.90392561983471% 62.465843023255815%/64px 64px;

		/*
		width: 64px;
		height: 64px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 35.90392561983471% 62.465843023255815%;*/
	}
	.icon--instagram {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 42.55792930505263% 57.22501591570755%/42.01px 42.01px;

		/*
		width: 42.01px;
		height: 42.01px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 42.55792930505263% 57.22501591570755%;*/
	}
	.icon--mail {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 37.06095041322314% 57.47126436781609%/64px 48px;

		/*
		width: 64px;
		height: 48px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 37.06095041322314% 57.47126436781609%;*/
	}
	.icon--rain {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 39.20971074380165% 62.465843023255815%/64px 64px;

		/*
		width: 64px;
		height: 64px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 39.20971074380165% 62.465843023255815%;*/
	}
	.icon--star {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 42.51549586776859% 62.465843023255815%/64px 64px;

		/*
		width: 64px;
		height: 64px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 42.51549586776859% 62.465843023255815%;*/
	}
	.icon--twitter {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 40.1135395386558% 57.227062677940395%/51.78px 42.06px;

		/*
		width: 51.78px;
		height: 42.06px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 40.1135395386558% 57.227062677940395%;*/
	}
	.icon--wifi {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 45.72680412371134% 62.465843023255815%/60px 64px;

		/*
		width: 60px;
		height: 64px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 45.72680412371134% 62.465843023255815%;*/
	}
	.icon--youtube {
			

		/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
		background: url('../../app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg') 45.61862358478565% 57.22460658082976%/34.75px 42px;

		/*
		width: 34.75px;
		height: 42px;
		background-image: url('/app/assets/img/sprite/css/svg/sprite.css-d40125ee.svg');
		background-position: 45.61862358478565% 57.22460658082976%;*/
	}
