.primary-nav {

	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}

	&--pull-right {

		@mixin atMedium {
			float: right; /* FLoat only for larger screens */
		}
	}

	/* ALL <ul> under .primar-nav */
	ul {
		margin: 0;
		padding: 0;

		/* Fix floated children (i.e. <li> below) */
		@mixin clearfix;
	}

	/* ALL <li> under .primar-nav */
	li {
		list-style: none;
		padding-right: 7px;
		display: inline-block;

		@mixin atMedium {
			float: left;	/* Make them all sit on one line; Only for larger screens */
			display: block;	/* Reset */
			padding-right: 20px;
		}
	}

	/* This one is needed only if 'li' is made inline-block. This is done only just to save
	the unneeded 20px padding for the last element if the 'li' items were displayed
	inline-block */
	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;			
		}
	}

	a {
		text-decoration: none;
		color: $mainWhite;
		font-weight: 300;

		/* WHAT IS THIS FOR! at 5mins remaning in Training VIdeo 36 this does not exist yet */
		
		/* Adjust Padding to center vertically on the nav bar */
		/* Padding will have no effect if DISPLAY <> BLOCK */
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainBlue, .5);

		@mixin atMedium {
			padding: 12px 0;
			font-size: 1rem;
			background-color: rgba($mainBlue, 0);
		}
	}
}