.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;

	@mixin atMedium {
		background-color: rgba($mainBlue, .3);
	}

	&__button-container {
		float: right;
	}

	&__logo {
		position: absolute;
		
		/* 	
			The element will occupy only as much as it needs. 
			So if we want it to occupy the full width, we set width=100%!!!

			Especially if .SVG, it will occupy ZERO SPACE and you will
			not see it without setting width=100%!!!

			However, width=100% must be removed when sprites are used instead of <img>
		*/
		/*
		width: 100%;
		*/

		background-color: rgba($mainBlue, 1);
		padding: 25px 36px;

		/* Offset .site-header padding of 10px above */
		/*
		top: 50%;
		left: 10%;
		transform: translate(-50%, -50%) scale(.1);*/
		left: 50%;
		transform: translateX(-50%) scale(.1);

		/*
			transform-origin: x y
			y=0, make topmost the origin, y=100, make bottom-most the origin
		*/
		transform-origin: 50% -1%;

		/* Do not Center for larger screens: RESET */
		@mixin atMedium {
			left: auto;
			transform: translateX(0) scale(.1);
			transform-origin: 0 -1%;
		}
		
	}

	/* Hide Logo HTML TEXT inside of <div> */
	&--logo--graphic {
		text-indent: -99999px;
	}

	&__menu-icon {
		width: 20px;
		height: 20px;
		background-color: $mainWhite;
		position: absolute;
		top: 10px;
		right: 10px;

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-content {

		display: none; /* Not visible in small scrveens */

		@mixin atMedium {
			display: block;
		}
	}	

	.icon--logo {
		background-size: 250px;
		background-repeat: no-repeat;
		background-position: center;
	}
}