.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 2;

	/* When background-color value changes, use ease-out 
	   transition style for a transition duration of .3s */
	transition: all .3s ease-out;

	&--is-expanded {
		background-color: rgba($mainBlue, .55);
	}

	@mixin atMedium {
		position: fixed;	/* Lock position even if we scroll */
		background-color: rgba($mainBlue, .3);

	}

	&--dark {
		
		@mixin atMedium {
			background-color: rgba(23, 51, 72, .85);	

			& .site-header__logo {
				transform: scale(.0705);
			}
		}
	}

	&__button-container {
		

		@mixin atMedium {
			float: right;	/* Float right only for bigger screens */	
		}
	}

	&__logo {
		position: absolute;
		
		transition: transform .3s ease-out;
		/* 	
			The element will occupy only as much as it needs. 
			So if we want it to occupy the full width, we set width=100%!!!

			Especially if .SVG, it will occupy ZERO SPACE and you will
			not see it without setting width=100%!!!

			However, width=100% must be removed when sprites are used instead of <img>
		*/
		/*
		width: 100%;
		*/

		background-color: rgba($mainWhite, 1);
		padding: 25px 36px;

		/* Offset .site-header padding of 10px above */
		/*
		top: 50%;
		left: 10%;
		transform: translate(-50%, -50%) scale(.1);*/
		left: 50%;
		transform: translateX(-50%) scale(.1);

		/*
			transform-origin: x y
			y=0, make topmost the origin, y=100, make bottom-most the origin
		*/
		transform-origin: 50% -1%;

		/* Do not Center for larger screens: RESET */
		@mixin atMedium {
			left: auto;
			transform: translateX(0) scale(.1);
			transform-origin: 0 -1%;
		}
		
	}

	/* Hide Logo HTML TEXT inside of <div> */
	&--logo--graphic {
		text-indent: -99999px;
	}

	&__menu-icon {
		width: 20px;
		height: 19px;	/* changed form 20px to 19px so that hamburger lines will be evenly spaced */
		/* even if this is removed, and becomes transparent, it can still be clicked */
		/*background-color: $mainWhite;*/
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		/* &__top { */
		&::before {
			content: "";	/* Must be present otherwise width and height will both be zero */
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $mainWhite;
			transform-origin: 0% 0%;	/* left top corner of element */
			transition: transform .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $mainWhite;
			transform-origin: 0% 50%;	/* left middle of element */
			transition: all .3s ease-out;

		}

		/*&__bottom {*/
		&::after {
			content: "";	/* Must be present otherwise width and height will both be zero */
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: $mainWhite;
			transform-origin: 0% 100%; /* left bottom corner of element */
			transition: transform .3s ease-out;
		}

		@mixin atMedium {
			display: none;
		}

		
	}

	&__menu-icon--close-x {

		&::before {
			
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0; /* Hide */
			transform: scale(0);
		}

		&::after {
			
			/* pull bar downwards by 1px: translateY(1px) */
			transform: rotate(-45deg) scaleX(1.25) translate(0px, 1px);
		}
	}

	&__menu-content {
		/* replace display: none; with opacity instead */
		opacity: 0;
		
		/* Not visible in small scrveens */
		/*
		display: none; 
		*/
		padding-top: 90px;
		text-align: center;

		transform: scale(1.2);

		/* position relative so that z-index will be acknowledged */
		/* even if opacity = 0, it can still be clicked. so, we
			send it to the background instead using a negative z-index */
		position: relative;
		z-index: -10;

		/* instead of tracking transition opacity only, we use all */
		transition: all .3s ease-out;


		@mixin atMedium {
			/* replace display: none; with opacity instead */
			/* And put it back in front again using z-index */
			opacity: 1;
			z-index: 1;
			/* VISIBLE in small scrveens */
			/*
			display: block;
			*/

			transform: scale(1);

			padding-top: 0;
		}

		&--is-visible {
			/* replace display: none; with opacity instead */
			/* And put it back in front again using z-index */
			opacity: 1;
			z-index: 1;

			transform: scale(1);
			/* VISIBLE in small scrveens */
			/*
			display: block;
			*/
		}
	}	

	.icon--logo {
		background-size: 250px;
		background-repeat: no-repeat;
		background-position: center;
	}
}