/* Source: https://github.com/jkphl/svg-sprite */
/* MUST NOT EDIT THIS DIRECTLY */
/* EDIT TEMPLATES/SPRITE.CSS INSTEAD */

/* Loop */
	
	/* Run Only Once */

		.icon {
			background-image: url('/assets/img/sprites/sprite-a7699f55.svg');
		}

		.no-svg .icon {
			background-image: url('/assets/img/sprites/sprite-a7699f55.png');
		}


	.icon--DGTIES_FA_HORIZONTAL_FLAT_colored_2018_01_22 {
		
		width: 2002px;
		height: 802px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 0 0;
	}
	
	/* Run Only Once */

	.icon--DGTIES_FA_ICON_7.99in_x_8.88in_colored_2018_01_22 {
		
		width: 577.1px;
		height: 641.1px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 0 99.88790633951925%;
	}
	
	/* Run Only Once */

	.icon--clear-view-escapes {
		
		width: 144.4px;
		height: 61.53px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 31.06696813092162% 58.01210876185378%;
	}
	
	/* Run Only Once */

	.icon--comment {
		
		width: 66px;
		height: 66px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 29.80888429752066% 62.665457184325106%;
	}
	
	/* Run Only Once */

	.icon--facebook {
		
		width: 23.23px;
		height: 44.01px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 44.739408824673916% 57.286123472310514%;
	}
	
	/* Run Only Once */

	.icon--fire {
		
		width: 58px;
		height: 66px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 33.08127572016461% 62.665457184325106%;
	}
	
	/* Run Only Once */

	.icon--globe {
		
		width: 66px;
		height: 66px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 36.21384297520661% 62.665457184325106%;
	}
	
	/* Run Only Once */

	.icon--instagram {
		
		width: 44.01px;
		height: 44.01px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 42.96651157564645% 57.286123472310514%;
	}
	
	/* Run Only Once */

	.icon--mail {
		
		width: 66px;
		height: 50px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 37.267561983471076% 57.53228120516499%;
	}
	
	/* Run Only Once */

	.icon--rain {
		
		width: 66px;
		height: 66px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 39.622933884297524% 62.665457184325106%;
	}
	
	/* Run Only Once */

	.icon--star {
		
		width: 66px;
		height: 66px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 43.03202479338843% 62.665457184325106%;
	}
	
	/* Run Only Once */

	.icon--twitter {
		
		width: 53.78px;
		height: 44.06px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 40.42151297081438% 57.28816949297827%;
	}
	
	/* Run Only Once */

	.icon--wifi {
		
		width: 62px;
		height: 66px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 46.345360824742265% 62.665457184325106%;
	}
	
	/* Run Only Once */

	.icon--youtube {
		
		width: 36.75px;
		height: 44px;
		/*background-image: url('../../assets/img/sprite/css/sprite-a7699f55.svg');*/
		background-position: 46.2292329220201% 57.285714285714285%;
	}
